{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-5">Our Products</h2>
    
    <!-- Formulario de búsqueda y filtros -->
    <form method="GET" action="" class="mb-4">
        <div class="input-group mb-3">
            <input type="text" name="q" class="form-control" placeholder="Search for products..." value="{{ query }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <input type="number" name="min_price" class="form-control" placeholder="Min Price" value="{{ min_price }}">
            </div>
            <div class="col-md-3">
                <input type="number" name="max_price" class="form-control" placeholder="Max Price" value="{{ max_price }}">
            </div>
            <div class="col-md-3">
                <select name="store" class="form-control">
                    <option value="">All stores</option>
                    <option value="Amazon" {% if store == "Amazon" %}selected{% endif %}>Amazon</option>
                    <option value="Aliexpress" {% if store == "Aliexpress" %}selected{% endif %}>Aliexpress</option>
                    <option value="Ebay" {% if store == "Ebay" %}selected{% endif %}>Ebay</option>
                </select>
            </div>
            <div class="col-md-3">
                <select name="sort_by" class="form-control">
                    <option value="">Sort By</option>
                    <option value="price" {% if sort_by == "price" %}selected{% endif %}>Price</option>
                    <option value="rating" {% if sort_by == "rating" %}selected{% endif %}>Rating</option>
                </select>
            </div>
        </div>
    </form>
    
    <div class="row">
        {% for product in page_obj %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-light rounded">
                <!-- Product Image -->
                <div style="height: 200px; background-color: white; display: flex; align-items: center; justify-content: center;">
                    <img src="{{ product.image }}" class="card-img-top img-fluid" alt="{{ product.name }}" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="height: 3em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ product.name }}</h5>
                    <p class="card-text"><strong>{{ product.price }}</strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Product Rating -->
                        {% if product.rating %}
                        <div class="rating">
                            {%if product.rating == 5.0%}
                            <span>Rating: 5/5</span>
                            {%else%}
                            <span>Rating: {{product.rating}}/5</span>
                            {%endif%}
                        </div>
                        {% endif %}
                        <a href="product/{{ product.id }}" class="btn btn-primary btn-sm">View Product</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if store %}&store={{ store }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if store %}&store={{ store }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if min_price %}&min_price={{ min_price }}{% endif %}{% if max_price %}&max_price={{ max_price }}{% endif %}{% if store %}&store={{ store }}{% endif %}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}